@import '../../sass/main';

.Filter {
  @include block-format(relative, 80px, 24px, 0, 4px 0);
  @include text-format(1rem, 500, $intern, $gray-ultra-light);
  line-height: 1.2;

  &__logo {
    @include block-format(_, _, 100%);
    @include flex(_, center);
    cursor: pointer;

    &_text {
      height: 24px;
      margin-left: 8px;
      @include flex(_, center);
    }
  }

  &__popup {
    @include block-format(
      absolute,
      228px,
      190px,
      0,
      23px 0 23.5px,
      $black-low-lighter
    );
    bottom: -190px;
    right: 0;
    @include flex(space-between, center, column);
    border-radius: 15px;
    z-index: 50;
    transform: scale(0);
    opacity: 0;
    transition: opacity 0.25s;

    &.active {
      transform: scale(1);
      opacity: 1;
    }

    &_label {
      @include block-format(_, 158px, 36px, 0, 0 7px);
      @include text-format(1.25rem, 300, $sfProd, $gray-low-dark, left);
      line-height: 1.2;
      border-bottom: 1px solid $gray-low-light;
    }

    &_selects {
      @include block-format(_, 168.5px, 87.5px);
      @include flex(space-between, center, column);
    }
  }

  &__background {
    @include block-format(fixed, 100vw, 100vh);
    display: none;
    left: 0;
    top: 0;
    z-index: 40;

    &.active {
      display: block;
    }
  }
}
