// screen
$tiny: 330px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1280px;
$xxl: 1400px;

// colors
$black: #101010;
$black-lighter: #171717;
$black-low-lighter: #131313;
$black-darker: #000000;
$black-gray: #292929;
$black-low-gray: #232323;
$gray: #cfcfcf;
$gray-low-dark: #a5a5a5;
$gray-light: #d0cbcb;
$gray-low-light: #cbcbcb;
$gray-ultra-light: #f2f2f2;
$white: #fff;
$trans: rgba(0, 0, 0, 0);

// fonts
$sfProd: 'SFProd';
$intern: 'Intern';
